/*Parametros Generales*/

body {
    background-color: black;
    color: white;
}

/*Extender el Carrusel en el Header*/
header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/*Ajustes Navbar*/
.navbar {
    background-color: grey;

}

#viajes {
    width: 45px;
    padding-right: 3px;

}

/*Uso Google-Fonts*/

#nav-viajes {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}



/*Parametros Generales Contenedores para correcto uso de Bootsrap*/

.container {
    width: 75%;
    margin: 0 auto;
}

.row {
    text-align: center;
}

.text_section {
    text-align: justify;

}

.card {
    background-color: aqua;
    color: white;
}

#caja_icon {
    background-color: aqua;
}

.btn {
    background-color: aqua;
    color: white;

}

/*Parametros Footer*/

footer {
    background-color: aqua;
    padding: 4px;

}

footer .text {
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}